body {
    font-family: 'Heebo', sans-serif;
    font-weight: regular;
}
@font-face {
    font-family: 'Anisette Black';
    src: url('../../../fonts/Anisette\ Black.otf');
}
@font-face {
    font-family: 'Anisette Bold';
    src: url('../../../fonts/Anisette\ Bold.otf');
}
@font-face {
    font-family: 'Anisette Light';
    src: url('../../../fonts/Anisette\ Light.otf');
}
@font-face {
    font-family: 'Anisette Regular';
    src: url('../../../fonts/Anisette\ Regular.otf');
}